
        <div id="matchCard" class="card">
          {{#ifeq esport "Tenis"}}
            <img src="/images/tenis-card.png" alt="pelota" style="width:215px;height:205px">
          {{else}}
            <img src="/images/padel-card.png" alt="pelota" style="width:215px;height:205px">
          {{/ifeq}}
          <h1>{{esport}}</h1>
          <p class="title">Localidad: {{location}}</p>
          <p class="title">Nivel: {{level}}</p>
          <p class="center">{{center.name}}</p>
          <div class="row">
            <p class="date">{{dateFormat date "DD/MM/YYYY"}}</p>
            <p class="players"> Players: {{acceptedGuests.length}}/{{numberPlayers}}</p>
          </div>
          {{#ifeq esport "Padel"}}
            {{#ifeq acceptedGuests.length numberPlayers}}
              <p><a href="/matches/{{_id}}" style="background-color: #06509A;">Full event </a></p>
            {{else}}
              <p><a href="/matches/{{_id}}" style="background-color: #06509A;">See more </a></p>
            {{/ifeq}}
          {{else}}
            {{#ifeq acceptedGuests.length numberPlayers}}
              <p><a href="/matches/{{_id}}">Full event </a></p>
            {{else}}
              <p><a href="/matches/{{_id}}">See more </a></p>
            {{/ifeq}}
          {{/ifeq}}
        </div>
