 <section>
    {{> menu}}
</section>
 
  <div class="matches">
    {{#if matches}}
      {{#each matches}}
        <div class="card">
          <img src="/images/tenis-logo.jpg" alt="pelota" style="width:215px;height:205px">
          <h1>{{esport}}</h1>
          <p class="title">Localidad: {{location}}</p>
          <p class="title">Nivel: {{level}}</p>
          <p class="center">{{center.name}}</p>
          <div class="row">
            <p class="date">{{dateFormat date "DD/MM/YYYY"}}</p>
            <p class="players"> Players: {{acceptedGuests.length}}/{{numberPlayers}}</p>
          </div>
          <p><a href="/matches/{{_id}}">See more details</a></p>
        </div>
      {{/each}}
    {{else}}
      <p>{{message}}</p>
    {{/if}}
  </div>
  <footer>
  {{> footer}}
</footer>