{{#each match}}
<hr>
<p>Centro: {{center}}</p>
<p>Localidad: {{location}}</p>
<p>Numero de jugadores a completar: {{numberPlayers}}</p>
<p>Fecha: {{date}}</p>
<p>Nivel: {{level}}</p>
<p>Deporte: {{esport}}</p>
{{/each}}