<div>
 {{>menu}} 
</div>

<section id="header">
  <h1 class="text-center bottom-space">Todos los partido</h1>

<div id="headerMatches">
  <a class="noStyle btn bottom-space" href="/matches/mymatches">Mis Partidos</a>
  <a class="noStyle btn bottom-space" href="/matches/pendingmatches">Partidos pendientes</a>
  <a class="noStyle btn bottom-space" href="/matches/acceptedmatches">Partidos aceptados</a>
</div>

</section>

<h3 class="shadow-title-h3 bottom-space top-space">Encuentra los partidos</h3>
  <form id="filter" action="/matches" method="GET">
  <label for="location">location</label>
  <input type="text" name="location" id="location">
  <label for="level">level</label>
  <input type="text" name="level" id="level">
  <label for="esport">esport</label>
  <input type="text" name="esport" id="esport">
  <button class="sendToBack" type="submit">Filtrar</button>
  </form>

  <div class="matches sendToBack">
    {{#each match}}
    {{> matchesCard}}
    {{/each}}
    {{!-- {{#if match}}
      {{#each match}}
        <div class="card">
          <img src="/images/tenis-logo.jpg" alt="pelota" style="width:215px;height:205px">
          <h1>{{esport}}</h1>
          <p class="title">Localidad: {{location}}</p>
          <p class="title">Nivel: {{level}}</p>
          <p class="center">{{center}}</p>
          <div class="row">
            <p class="date">{{dateFormat date "DD/MM/YYYY"}}</p>
            <p class="players"> Players: {{acceptedGuests.length}}/{{numberPlayers}}</p>
          </div>
          <p><a href="/matches/{{_id}}">See more</a></p>
        </div>
      {{/each}}
    {{else}}
    {{#each matchfilter}}
      <div class="card">
        <img src="/images/tenis-logo.jpg" alt="pelota" style="width:215px;height:205px">
        <h1>{{esport}}</h1>
        <p class="title">{{location}}</p>
        <p class="title">{{level}}</p>
        <p class="title">{{dateFormat date "DD/MM/YYYY"}}</p>
        <p>{{center}}</p>
        <p class="players"> Players: {{acceptedGuests.length}}/{{numberPlayers}}</p>
        <p><a href="/matches/{{_id}}">See more</a></p>
      </div>
    {{/each}}
    {{/if}} --}}
  </div>

  <footer>
  {{> footer}}
</footer>

