<section>
    {{> menu}}
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Centro del evento: <a href={{match.center.url}}>{{match.center.name}}</a></p>
<p>Nivel del evento: {{match.level}}</p>
<p>Localidad: {{match.location}}</p>
<p>Creador del evento: {{match.host.username}}</p>
<p>Estado del partido: {{match.status}}</p>


{{#if match.pendingGuests}}
Usuarios pendientes:
{{#each match.pendingGuests}}
  <p><a href="/profile/{{id}}">{{username}}</a></p>
{{/each}}
{{/if}}

Usuarios aceptados: 
{{#if match.acceptedGuests}}
  {{#each match.acceptedGuests}}
    <p><a href="/profile/{{id}}">{{username}}</a></p>
  {{/each}}
{{else}}
  <a href="#">Todavia no hay jugadores aceptados</a>
{{/if}}












{{!-- //Logica de los botones --}}
{{#ifeq match.status "Abierto"}}
  {{#ifCond match.host._id currentUser._id}}
    {{#if currentUserIsAccepted}}
      <form action="/matches/{{match._id}}/cancel" method="post">
      <button class="sendToBack" type="submit">Cancelar partido</button>
      </form>
    {{else}}
      {{#ifeq match.acceptedGuests.length match.numberPlayers}}
        <button>No hay plazas disponibles</button>
      {{else}}
      <form action="/matches/{{match._id}}/join" method="post">
      <input type="text" name="pendingGuests" value="{{currentUser._id}}" hidden>
      <button class="sendToBack" type="submit">Join</button>
      </form>
      {{/ifeq}}
    {{/if}}
  {{else}}
    {{#ifeq match.acceptedGuests.length match.numberPlayers}}
    <form action="/matches/{{match._id}}/endMatch" method="post">
    <button class="sendToBack" type="submit">Cerrar partido</button>
    </form>
    {{/ifeq}}
    <form action="/matches/{{match._id}}/delete" method="post">
    <button  class="sendToBack" type="submit">Borrar partido</button>
    </form>
  {{/ifCond}}
{{else}}
  {{#ifeq match.status "Cerrado"}}
    {{#ifCond match.host._id currentUser._id}}
    <a href="#">El partido ha finalizado</a>
    {{else}}
      {{#ifeq match.acceptedGuests.length 4}}
        <form action="/matches/{{match._id}}/delete" method="post">
        <button  class="sendToBack" type="submit">Borrar partido</button>
        </form>
        <form action="/matches/{{match._id}}/winners" method="post" id="winners">
          <button class="sendToBack" type="submit">Enviar resultado</button>
        </form>
          <label for="win">Choose the winners:</label>
            <select name="player1" id="win" form="winners" required>
              <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
              <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
              <option value={{match.acceptedGuests.[2]._id}}>{{match.acceptedGuests.[2].username}}</option>
              <option value={{match.acceptedGuests.[3]._id}}>{{match.acceptedGuests.[3].username}}</option>
            </select>
            <select name="player2" id="win" form="winners" required>
              <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
              <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
              <option value={{match.acceptedGuests.[2]._id}}>{{match.acceptedGuests.[2].username}}</option>
              <option value={{match.acceptedGuests.[3]._id}}>{{match.acceptedGuests.[3].username}}</option>
            </select>
      {{/ifeq}}
      {{#ifeq match.acceptedGuests.length 2}}
          <form action="/matches/{{match._id}}/delete" method="post">
      <button  class="sendToBack" type="submit">Borrar partido</button>
      </form>
        <form action="/matches/{{match._id}}/winners" method="post" id='winners'>
          <button class="sendToBack" type="submit">Enviar resultado</button>
        </form>
        <label for="win">Choose the winners:</label>
          <select name="player1" id="win" form="winners" required>
            <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
            <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
          </select>
      {{/ifeq}}
    {{/ifCond}}
  {{/ifeq}}
  {{#ifeq match.status "Finalizado"}}
    {{#ifeq match.acceptedGuests.length 2}}
      <p>El ganador del partido es: <a href="/profile/{{match.playerWinners.[0].id}}">{{match.playerWinners.[0].username}}</a></p>
    {{/ifeq}}
    {{#ifeq match.acceptedGuests.length 4}}
          <p>Los ganadores del partido son: <a href="/profile/{{match.playerWinners.[0].id}}">{{match.playerWinners.[0].username}}</a> y <a href="/profile/{{match.playerWinners.[1].id}}">{{match.playerWinners.[1].username}}</a></p>

    {{/ifeq}}
  {{/ifeq}}

{{/ifeq}}

<iframe src={{match.center.mapURL}} width="375" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

