<section>
    {{> menu}}
</section>

<p>Centro del evento: {{center}}</p>
<p>Nivel del evento: {{level}}</p>
<p>Localidad: {{location}}</p>
<p>Creador del evento: {{host.username}}</p>
Usuario logueado {{currentUser._id}}



Usuarios aceptados: 
{{#each acceptedGuests}}
  <p><a href="/profile/{{id}}">{{id}}</a></p>
{{/each}}

{{#ifCond host._id currentUser._id}}
  {{#include acceptedGuests currentUser._id}}
    <form action="/matches/{{id}}" method="post">
    <button type="submit">Cancelar partido</button>
    </form>
  {{else}}
    <form action="/matches/{{id}}" method="post">
    <input type="text" name="pendingGuests" value="{{currentUser._id}}" hidden>
    <button type="submit">Join</button>
    </form>
  {{/include}}
{{else}}
  <form action="/matches/{{id}}/delete" method="post">
  <button type="submit">Borrar partido</button>
  </form>
{{/ifCond}}

