<header class="header">
    {{> menu}}
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-col">
  <p class="centro-match"><a href={{match.center.url}}>{{match.center.name}}</a></p>
<br>
<br>


  <div class="status">
    {{#ifeq match.level "Principiante"}} 
    <p class="orange-status">Principiante</p>
    <p class="disable-status">Aficionado</p>
    <p class="disable-status">Profesional</p>
    {{/ifeq}}
    {{#ifeq match.level "Aficionado"}} 
    <p class="disable-status">Principiante</p>
    <p class="orange-status">Aficionado</p>
    <p class="disable-status">Profesional</p>
    {{/ifeq}}
    {{#ifeq match.level "Profesional"}} 
    <p class="disable-status">Principiante</p>
    <p class="disable-status">Aficionado</p>
    <p class="orange-status">Profesional</p>
    {{/ifeq}}
  </div>
  <div class="status">
    {{#ifeq match.status "Abierto"}} 
    <p class="green-status">Abierto</p>
    <p class="disable-status">Cerrado</p>
    <p class="disable-status">Finalizado</p>
    {{/ifeq}}
    {{#ifeq match.status "Cerrado"}} 
    <p class="disable-status">Abierto</p>
    <p class="blue-status">Cerrado</p>
    <p class="disable-status">Finalizado</p>
    {{/ifeq}}
    {{#ifeq match.status "Finalizado"}} 
    <p class="disable-status">Abierto</p>
    <p class="disable-status">Cerrado</p>
    <p class="red-status">Finalizado</p>
    {{/ifeq}}
  </div>

<div class="container-row">
  <div class="column-players">
    <div class="center-text">Usuarios pendientes <hr></div>
    <div>
      {{#if match.pendingGuests}}
      {{#each match.pendingGuests}}
        <p><a href="/profile/{{id}}">{{username}}</a></p>
      {{/each}}
      {{else}}
        <p>No players</p>
      {{/if}}
    </div>
  </div>
  <div class="column-players">
    <div class="center-text">Usuarios aceptados <hr></div>
    <div>
      {{#if match.acceptedGuests}}
        {{#each match.acceptedGuests}}
          <p class="center-text"><a href="/profile/{{id}}">{{username}}</a>{{#ifeq ../match.host.username username}} <img id="corona" src="/images/corona.png" alt=""> {{else}}<img id="corona" src="/images/blanco.png" alt=""> {{/ifeq}}</p>
        {{/each}}
      {{else}}
        <p>No players</p>
      {{/if}}
    </div>
  </div>
</div>


{{!-- <div class="numberPlayers">
  <span>{{match.acceptedGuests.length}} / {{match.numberPlayers}}</span>
</div> --}}



{{!-- //Logica de los botones --}}
{{#ifeq match.status "Abierto"}}
  {{#ifCond match.host._id currentUser._id}}
    {{#if currentUserIsAccepted}}
      <form action="/matches/{{match._id}}/cancel" method="post">
      <button class="sendToBack" type="submit">Cancelar partido</button>
      </form>
    {{else}}
      {{#ifeq match.acceptedGuests.length match.numberPlayers}}
        <button>No hay plazas disponibles</button>
      {{else}}
      <form action="/matches/{{match._id}}/join" method="post">
      <input type="text" name="pendingGuests" value="{{currentUser._id}}" hidden>
      <button class="sendToBack" type="submit">Join</button>
      </form>
      {{/ifeq}}
    {{/if}}
  {{else}}
    {{#ifeq match.acceptedGuests.length match.numberPlayers}}
    <form action="/matches/{{match._id}}/endMatch" method="post">
    <button class="sendToBack" type="submit">Cerrar partido</button>
    </form>
    {{/ifeq}}
    <form action="/matches/{{match._id}}/delete" method="post">
    <button  class="sendToBack btn-delete" type="submit"><img src="/images/eliminar.png" alt=""></button>
    </form>
  {{/ifCond}}
{{else}}
  {{#ifeq match.status "Cerrado"}}
    {{#ifCond match.host._id currentUser._id}}
    <a href="#">El partido ha finalizado</a>
    {{else}}
      {{#ifeq match.acceptedGuests.length 4}}
        <form action="/matches/{{match._id}}/delete" method="post">
        <button  class="sendToBack" type="submit"><img src="/images/eliminar.png" alt=""></button>
        </form>
        <form action="/matches/{{match._id}}/winners" method="post" id="winners">
          <button class="sendToBack" type="submit">Enviar resultado</button>
        </form>
          <label for="win">Choose the winners:</label>
            <select name="player1" id="win" form="winners" required>
              <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
              <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
              <option value={{match.acceptedGuests.[2]._id}}>{{match.acceptedGuests.[2].username}}</option>
              <option value={{match.acceptedGuests.[3]._id}}>{{match.acceptedGuests.[3].username}}</option>
            </select>
            <select name="player2" id="win" form="winners" required>
              <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
              <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
              <option value={{match.acceptedGuests.[2]._id}}>{{match.acceptedGuests.[2].username}}</option>
              <option value={{match.acceptedGuests.[3]._id}}>{{match.acceptedGuests.[3].username}}</option>
            </select>
      {{/ifeq}}
      {{#ifeq match.acceptedGuests.length 2}}
          <form action="/matches/{{match._id}}/delete" method="post">
      <button  class="sendToBack" type="submit"><img src="/images/eliminar.png" alt=""></button>
      </form>
        <form action="/matches/{{match._id}}/winners" method="post" id='winners'>
          <button class="sendToBack" type="submit">Enviar resultado</button>
        </form>
        <label for="win">Choose the winners:</label>
          <select name="player1" id="win" form="winners" required>
            <option value={{match.acceptedGuests.[0]._id}}>{{match.acceptedGuests.[0].username}}</option>
            <option value={{match.acceptedGuests.[1]._id}}>{{match.acceptedGuests.[1].username}}</option>
          </select>
      {{/ifeq}}
    {{/ifCond}}
  {{/ifeq}}
  {{#ifeq match.status "Finalizado"}}
    {{#ifeq match.acceptedGuests.length 2}}
      <p>El ganador del partido es: <a href="/profile/{{match.playerWinners.[0].id}}">{{match.playerWinners.[0].username}}</a></p>
    {{/ifeq}}
    {{#ifeq match.acceptedGuests.length 4}}
          <p>Los ganadores del partido son: <a href="/profile/{{match.playerWinners.[0].id}}">{{match.playerWinners.[0].username}}</a> y <a href="/profile/{{match.playerWinners.[1].id}}">{{match.playerWinners.[1].username}}</a></p>

    {{/ifeq}}
  {{/ifeq}}

{{/ifeq}}

<iframe src={{match.center.mapURL}} width="375" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
