<p>{{center}}</p>
<p>{{level}}</p>
<p>{{location}}</p>
<p>{{host.username}}</p>

<form action="/matches/{{id}}" method="post">
<input type="text" name="pendingGuests" value="{{currentUser._id}}" hidden>
<button type="submit">Join</button>
</form>