<header class="header">
    {{> menu}}
</header>
{{!-- UsernameID --}}
{{!-- Grafico tenis individual --}}
<input type="number" name="score" id="score" value={{chartScore.scoreTenisInd}} hidden>
<input type="number" name="games" id="games" value={{chartGames.length}} hidden>
{{!-- Grafico tenis dobles --}}
<input type="number" name="scoreDob" id="scoreDob" value={{chartScore.scoreTenisDob}} hidden>
<input type="number" name="gamesDob" id="gamesDob" value={{chartGamesDob.length}} hidden>
{{!-- Grafico padel individual --}}
<input type="number" name="scorePadInd" id="scorePadInd" value={{chartScorePadel.scorePadelInd}} hidden>
<input type="number" name="gamesPadInd" id="gamesPadInd" value={{chartGamesPadel.length}} hidden>
{{!-- Grafico padel dobles --}}
<input type="number" name="scorePadDob" id="scorePadDob" value={{chartScorePadel.scorePadelDob}} hidden>
<input type="number" name="gamesPadDob" id="gamesPadDob" value={{chartGamesPadelDob.length}} hidden>
{{!-- Partidos nulos Tenis --}}
<input type="number" name="nuloTenis" id="nuloTenis" value={{nulosTenis.length}} hidden>
{{!-- PArtidos nulos padel --}}
<input type="number" name="nuloPadel" id="nuloPadel" value={{nulosPadel.length}} hidden>

{{!-- <input type="text" name="params" id="params" value={{user._id}} hidden> --}}
<div id="title_profile">
    <img src={{user.imgURL}} alt="">
    <div id="user_profile">
        <p id="name_profile">{{user.name}} {{user.lastname}}</p>
        <p id="username_profile">@{{user.username}}</p>
        <p id="age_profile">{{user.age}} años</p>

    </div>
</div>
<div class="tab">
  <button class="tablinks sendToBack" onclick="openTab(event, 'Perfil')" id="defaultOpen">Perfil</button>
  <button class="tablinks sendToBack" onclick="openTab(event, 'Solicitudes')" id="defaultOpenRequest">Solicitudes{{#if matches}}<span id="notificacion">{{matches.length}}</span>{{/if}}</button>
  <button class="tablinks sendToBack" onclick="openTab(event, 'Estadisticas')">Estadisticas</button>
  <button class="tablinks sendToBack" onclick="openTab(event, 'Contact')">Contacto</button>
</div>
<!-- Tab content -->
<div id="Perfil" class="tabcontent tabPerfil">
{{#ifCond user._id currentUser._id}}
<h2 class="text-center shadow-title-h2">No es tu perfil</h2>
<img src="/images/inspector-gadget.png">
{{else}}
<section>
    <br>
    <form action="/profile/{{user._id}}/update" method="post">
        <label for="name">Nombre</label>
            <input class="input_profile" type="text" name="name" id="name" value="{{user.name}}">
        <label for="name">Apellido</label>
            <input class="input_profile" type="text" name="lastname" id="lastname" value="{{user.lastname}}">
        <label for="comunidad">Comunidad autonoma</label>
            <select class="input_profile" name="comunidad" id="comunidad">
                {{#each comunidades}}
                    {{#ifeq ../user.comunidad.name name}}
                        <option value="{{id}}" selected>{{name}}</option>
                    {{else}}
                        <option value="{{id}}">{{name}}</option>
                    {{/ifeq}}
                {{/each}}
            </select>
        <label for="age">Edad</label>
            <input class="input_profile" type="number" name="age" id="age" value="{{user.age}}">
        <label for="email">Email</label>
            <input class="input_profile" type="email" name="email" id="email" value="{{user.email}}">
        <label for="level">Nivel</label>
            <select class="input_profile" name="level" id="level">
                <option value="Principiante">Principiante</option>
                <option value="Medio">Medio</option>
                <option value="Avanzado">Avanzado</option>
                <option value="Profesional">Profesional</option>
            </select>
            <div class="center">
                <button class="bottom-space1 sendToBack" type="submit">Guardar cambios</button>
            </div>
    </form>
</section>
{{/ifCond}}
</div>
<div id="Solicitudes" class="tabcontent tabSol">
{{#ifCond user._id currentUser._id }}
<h2 class="text-center shadow-title-h2">No es tu perfil</h2>
<img src="/images/inspector-gadget.png">
{{else}}
{{#if matches}}
  {{#each matches}}
    {{#each pendingGuests}}
    <section id="notification">
        <div>
            <div id="notification-img-name">
                <img id="img-notification" src={{imgURL}}>
                <a class="link" href="/profile/{{id}}">{{username }} </a>ha solicitado unirse al<a class="link" href="/matches/{{../id}}"> partido</a>
            </div>
            <div id="btns-notification"class="flex-row">
                <div>
                        <form class="accept-form" action="/profile/{{../host._id}}/{{../id}}/accept/{{id}}" method="post">
                        <button class="sendToBack btn-accept" type="submit" class="sendToBack">Aceptar</button>
                        </form>
                </div>
                <div>
                    <form action="/profile/{{../host._id}}/{{../id}}/accept/{{id}}" method="post">
                    <button type="submit" class="sendToBack decline">Declinar</button>
                    </form>
                </div>
            </div>
        </div>
    </section> 

    {{/each}}
  {{/each }}
{{else}}
    <div class="container-col">
        <img src="/images/iconos/inbox.png" alt="">
        <p>{{message}}</p>    
    </div>
{{/if}}
{{/ifCond}}
</div>
<div id="Estadisticas" class="tabcontent tabStats holster">
    {{#if matchEnd}}
        {{#if chartGames}}
            <div class="Tenis">
                <h3 class="text-center shadow-title-h3 top-less-space">TENIS</h3>
                <div>
                    <div>
                        <canvas class="my-canvas" id="my-canvas"></canvas>
                    </div>
                </div>
                <div class="containerLastGames">
                    <div>Ultimos 5 encuentros</div> 
                    <div class="rowGames">
                        {{#each matchStats}}
                            {{#ifeq playerWinners.length 1}}
                                {{#ifCond ../userId playerWinners.[0]}}
                                    <div class="lost"><a href="/matches/{{id}}">L</a></div>
                                {{else}}
                                    <div class="win"><a href="/matches/{{id}}">W</a></div>
                                {{/ifCond}}
                            {{/ifeq}}
                            {{#ifeq playerWinners.length 2}}
                                {{#ifCond ../userId playerWinners.[0] }}
                                    {{#ifCond ../userId playerWinners.[1]}}
                                        <div class="lost"><a href="/matches/{{id}}">L</a></div>
                                    {{else}}
                                        <div class="win"><a href="/matches/{{id}}">W</a></div>
                                    {{/ifCond}}
                                {{else}}
                                    <div class="win"><a href="/matches/{{id}}">W</a></div>
                                {{/ifCond}}
                            {{/ifeq}}
                            {{#ifeq playerWinners.length 0}}
                                <div class="void"><a href="/matches/{{id}}">V</a></div>
                            {{/ifeq}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{else}}
        <p>Aun no ha jugado partidos de tenis</p>
        {{/if}}
        {{#if chartGamesPadel}}
            <div class="Padel">
            <h3 class="text-center shadow-title-h3 top-less-space">Padel</h3>
            <div>
                <div>
                    <canvas class="my-canvas" id="my-canvas-padel"></canvas>
                </div>

            </div>
                <div class="containerLastGames">
                    <div>Ultimos 5 encuentros</div> 
                    <div class="rowGames">
                        {{#each matchStatsPadel}}
                            {{#ifeq playerWinners.length 1}}
                                {{#ifCond ../userId playerWinners.[0]}}
                                    <div class="lost"><a href="/matches/{{id}}">L</a></div>
                                {{else}}
                                    <div class="win"><a href="/matches/{{id}}">W</a></div>
                                {{/ifCond}}
                            {{/ifeq}}
                            {{#ifeq playerWinners.length 2}}
                                {{#ifCond ../userId playerWinners.[0] }}
                                    {{#ifCond ../userId playerWinners.[1]}}
                                        <div class="lost"><a href="/matches/{{id}}">L</a></div>
                                    {{else}}
                                        <div class="win"><a href="/matches/{{id}}">W</a></div>
                                    {{/ifCond}}
                                {{else}}
                                    <div class="win"><a href="/matches/{{id}}">W</a></div>
                                {{/ifCond}}
                            {{/ifeq}}
                            {{#ifeq playerWinners.length 0}}
                                <div class="void"><a href="/matches/{{id}}">V</a></div>
                            {{/ifeq}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{else}}
        <p>Aún no ha jugado partidos de padel</p>
        {{/if}}
    {{else}}
    <p>Aún no ha jugado ningún partido. <a href="/matches">Únete</a> a uno.</p> 
    {{/if}}
</div>
<div id="Contact" class="tabcontent tabContact">
{{#ifCond user._id currentUser._id}}
    <h3 class="text-center shadow-title-h3 top-less-space">Contacta conmigo</h3>
    <br>
    <br>
    <form action="/profile/{{currentUser._id}}/contact" method="post">
        <label for="name">¿Quién?</label>
            <input type="text" value="{{currentUser.username}}" name="name" id="name" readonly>
        <label for="asunto">Asunto</label>
            <input type="text" name="asunto" id="asunto" required>
        <label for="mensaje">Mensaje</label>
            <input type="text" name="mensaje" id="mensaje" required>
        <button class="btn" type="submit">Enviar correo</button>
    </form>
{{else}}
    <img id="spiderman" src="/images/meme-spiderman.jpg" alt="">
{{/ifCond}}
</div>

