
<section class="max-width">
  {{> menu}}
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="tab">
  <button class="tablinks sendToBack" onclick="openTab(event, 'Tenis')" >Tenis</button>
  <button class="tablinks sendToBack" onclick="openTab(event, 'Paddle')">Paddle</button>
</div>

<div id="Tenis" class="tabcontent">
Ranking Individual Tenis
{{#each rankingInd}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scoreTenisInd}}
{{/each}}
<br>
<br>
<br>
<br>
Ranking Dobles Tenis
{{#each rankingDob}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scoreTenisDob}}
{{/each}}
<br>
<br>
<br>
<br>
</div>
<div id="Paddle" style="display:none" class="tabcontent">
Ranking Dobles Padel
{{#each rankingDobPadel}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scorePadelDob}}
{{/each}}
</div>

<script>
function openTab(Sport) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(Sport).style.display = "block";  
}
</script>
