
<header class="header">
  {{> menu}}
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="tab">
  <button class="tablinks sendToBack" onclick="openTabRanking(event, 'Tenis')" id="defaultOpen">Tenis</button>
  <button class="tablinks sendToBack" onclick="openTabRanking(event, 'Paddle')">Paddle</button>
</div>

<div id="Tenis" class="tabcontent">
<h3>Ranking Individual Tenis</h3>
<section>
{{#each rankingInd}}
  <div class="flex-row">
    {{!-- Foto Perfil --}}
    <div>
      <img src={{user.imgURL}} alt="">
    </div>
    {{!-- Info --}}
    <div class="flex-row">
      {{!-- Nombre-comunidad-Puntos --}}
      <div>
        {{!-- Bandera --}}
        {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}}
        {{!-- Nombre --}}
        <h4>{{name}}</h4>
        {{!-- Points --}}
        <h4>Points:{{scoreTenisInd}}</h4>
      </div>
      {{!-- Position --}}
      <div>
      <p>{{inc @index}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</section>
{{#each rankingInd}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scoreTenisInd}}
{{/each}}
<br>
<br>
<br>
<br>
Ranking Dobles Tenis
{{#each rankingDob}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scoreTenisDob}}
{{/each}}
<br>
<br>
<br>
</div>
<div id="Paddle" class="tabcontent">
Ranking Dobles Padel
{{#each rankingDobPadel}}
<br>
{{inc @index}} {{#if comunidad}}<img class="comunity" src={{comunidad.imgURL}} alt="">{{else}}<img class="comunity" src="/images/default-user.jpg" alt="">{{/if}} {{username}} {{scorePadelDob}}
{{/each}}
</div>

<footer>
  {{> footer}}
</footer>
