<div>
 {{>menu}} 
</div>
{{#if matches}}
  {{#each matches}}
  Las siguientes personas han solicitado unirse al evento {{id}} <br> <br>
    {{#each pendingGuests}} 
      El usuario <a href="/profile/{{id}}"></a>{{username}} ha solicitado unirse al evento que se disputará el día {{dateFormat ../date "DD/MM/YYYY"}} <br> 

    <form action="/solicitudes/{{../id}}/accept/{{id}}" method="post">
    <button type="submit" class="sendToBack">Aceptar</button>
    </form>

    <form action="/solicitudes/{{../id}}/decline/{{id}}" method="post">
    <button type="submit" class="sendToBack">Declinar</button>
    </form>

    {{/each}}
  {{/each }}
{{else}}
  <p>{{message}}</p>
{{/if}}

<footer>
  {{> footer}}
</footer>