{{#each matches}}
Las siguientes personas han solicitado unirse al evento {{id}} <br> <br>
  {{#each pendingGuests}} 
    El usuario {{id}} ha solicitado unirse a tu evento {{../id}} <br> 

  <form action="/solicitudes/{{../id}}/accept/{{id}}" method="post">
  <button type="submit">Aceptar</button>
  </form>

  <form action="/solicitudes/{{../id}}/decline/{{id}}" method="post">
  <button type="submit">Declinar</button>
  </form>

  {{/each}}
{{/each }}

